AnimationParams (
    sprite_sheet: SpriteSheetParams (
        texture: "goose_16_block",
        count_x: 1,
        count_y: 4,
    ),
    sprites: [
        AnnotatedSpriteParams (
            hurtbox: false,
            hitbox: None,
            duration: 10,
            sprite_index: Some(1),
        ),
        AnnotatedSpriteParams (
            hurtbox: false,
            hitbox: None,
            duration: 10,
        ),
        // Note the duration (2x as long).
        AnnotatedSpriteParams (
            hurtbox: false,
            hitbox: None,
            duration: 20,
        ),
    ],
    looping: false,
)
