AnimationParams (
    sprite_sheet: SpriteSheetParams (
        texture: "goose_16_ouch",
        count_x: 1,
        count_y: 4,
    ),
    sprites: [
        AnnotatedSpriteParams (
            hurtbox: true,
            hitbox: None,
            duration: 10,
            sprite_index: Some(1),
        ),
        AnnotatedSpriteParams (
            hurtbox: true,
            hitbox: None,
            duration: 100,
        ),
        AnnotatedSpriteParams (
            hurtbox: true,
            hitbox: None,
            duration: 10,
        ),
    ],
    looping: false,
)
