// TODO: use goose anim when available
AnimationParams (
    sprite_sheet: SpriteSheetParams (
        texture: "F00_Damage",
        count_x: 2,
        count_y: 2,
    ),
    sprites: [
        AnnotatedSpriteParams (
            hurtbox: false,
            hitbox: None,
            duration: 10,
        ),
        AnnotatedSpriteParams (
            hurtbox: false,
            hitbox: None,
            duration: 10,
        ),
        AnnotatedSpriteParams (
            hurtbox: false,
            hitbox: None,
            duration: 10,
        ),
        AnnotatedSpriteParams (
            hurtbox: false,
            hitbox: None,
            duration: 10,
        ),
    ],
    looping: false,
)
