AnimationParams (
    sprite_sheet: SpriteSheetParams (
        texture: "idle",
        count_x: 2,
        count_y: 3,
    ),
    sprites: [
        AnnotatedSpriteParams (
            hurtbox: true,
            hitbox: None,
            duration: 10,
        ),
        AnnotatedSpriteParams (
            hurtbox: true,
            hitbox: None,
            duration: 10,
        ),
        AnnotatedSpriteParams (
            hurtbox: true,
            hitbox: None,
            duration: 10,
        ),
        AnnotatedSpriteParams (
            hurtbox: true,
            hitbox: None,
            duration: 10,
        ),
        AnnotatedSpriteParams (
            hurtbox: true,
            hitbox: None,
            duration: 10,
        ),
    ],
    looping: true,
)
