AnimationParams (
    sprite_sheet: SpriteSheetParams (
        texture: "goose_16_idle",
        count_x: 1,
        count_y: 2,
    ),
    sprites: [
        AnnotatedSpriteParams (
            hurtbox: true,
            hitbox: None,
            duration: 30,
        ),
        AnnotatedSpriteParams (
            hurtbox: true,
            hitbox: None,
            duration: 30,
        ),
    ],
    looping: true,
)
